/* 
    파일명 : layout.css 
    작성자 : 이윤정
    작성일 : 24.05.10
    설  명 : 모든 페이지의 레이아웃 요소 ( header/footer/서브레이아웃 )
             메뉴명, sub_visual 이미지스타일, 탭메뉴
*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100px;
    padding: 0 40px;
    border-bottom: 1px solid rgba(255,255,255, 0.4);
    color: #fff;
}
.header .logo a {
    display: block;
    width: 224px;
    height: 39px;
}
.header .logo a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.header > .gnb > ul {
    display: flex;
}
.header .gnb ul li a {
    display: block;
    width: 135px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.header .tnb > ul {
    display: flex;
}
.header .tnb > ul > li {
    margin: 0 10px;
}
.header .tnb > ul > li:last-child {
    margin-right: 0;
}
.header .tnb > ul > li > a {
    position: relative;
    display: block;
    padding-top: 30px;
}
.header .tnb > ul > li a::before,
.header .tnb > ul > li.lang span::before {
    position: absolute;
    left: 50%;
    top: 0;
    width: 24px;
    height: 24px;
    content: "";
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.header .tnb ul li.portal a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.86511 6.5H21.8651V18.5H3.86511V6.5ZM2.86511 4.5C2.31283 4.5 1.86511 4.94772 1.86511 5.5V19.5C1.86511 20.0523 2.31283 20.5 2.86511 20.5H22.8651C23.4174 20.5 23.8651 20.0523 23.8651 19.5V5.5C23.8651 4.94772 23.4174 4.5 22.8651 4.5H2.86511ZM13.8651 8.5H19.8651V10.5H13.8651V8.5ZM18.8651 12.5H13.8651V14.5H18.8651V12.5ZM11.3651 10.5C11.3651 11.8807 10.2458 13 8.86511 13C7.4844 13 6.36511 11.8807 6.36511 10.5C6.36511 9.11929 7.4844 8 8.86511 8C10.2458 8 11.3651 9.11929 11.3651 10.5ZM8.86511 14C6.93211 14 5.36511 15.567 5.36511 17.5H12.3651C12.3651 15.567 10.7981 14 8.86511 14Z' fill='white'/%3E%3C/svg%3E%0A");
}
.header .tnb ul li.login a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.3651 22.5H18.3651V20.5C18.3651 18.8431 17.022 17.5 15.3651 17.5H9.36511C7.70826 17.5 6.36511 18.8431 6.36511 20.5V22.5H4.36511V20.5C4.36511 17.7386 6.60369 15.5 9.36511 15.5H15.3651C18.1265 15.5 20.3651 17.7386 20.3651 20.5V22.5ZM12.3651 13.5C9.0514 13.5 6.36511 10.8137 6.36511 7.5C6.36511 4.18629 9.0514 1.5 12.3651 1.5C15.6788 1.5 18.3651 4.18629 18.3651 7.5C18.3651 10.8137 15.6788 13.5 12.3651 13.5ZM12.3651 11.5C14.5742 11.5 16.3651 9.70914 16.3651 7.5C16.3651 5.29086 14.5742 3.5 12.3651 3.5C10.156 3.5 8.36511 5.29086 8.36511 7.5C8.36511 9.70914 10.156 11.5 12.3651 11.5Z' fill='white'/%3E%3C/svg%3E%0A");
}
.header .tnb .lang span {
    position: relative;
    display: block;
    padding: 30px 20px 0 0;
    cursor: pointer;
}
.header .tnb ul li.lang span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9946 22.5C6.47178 22.5 1.99463 18.0228 1.99463 12.5C1.99463 6.97715 6.47178 2.5 11.9946 2.5C17.5174 2.5 21.9946 6.97715 21.9946 12.5C21.9946 18.0228 17.5174 22.5 11.9946 22.5ZM9.70465 20.1674C8.74206 18.1259 8.15195 15.8742 8.02194 13.5H4.05652C4.45263 16.6765 6.71102 19.2747 9.70465 20.1674ZM10.0253 13.5C10.1757 15.9388 10.8724 18.2297 11.9946 20.252C13.1168 18.2297 13.8135 15.9388 13.9639 13.5H10.0253ZM19.9327 13.5H15.9673C15.8373 15.8742 15.2472 18.1259 14.2846 20.1674C17.2782 19.2747 19.5366 16.6765 19.9327 13.5ZM4.05652 11.5H8.02194C8.15195 9.12577 8.74206 6.87407 9.70465 4.83256C6.71102 5.72533 4.45263 8.3235 4.05652 11.5ZM10.0253 11.5H13.9639C13.8135 9.06122 13.1168 6.77025 11.9946 4.74799C10.8724 6.77025 10.1757 9.06122 10.0253 11.5ZM14.2846 4.83256C15.2472 6.87407 15.8373 9.12577 15.9673 11.5H19.9327C19.5366 8.3235 17.2782 5.72533 14.2846 4.83256Z' fill='white'/%3E%3C/svg%3E%0A");
}
.header .tnb .lang span::after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 18px;
    height: 18px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8942 7.01074L5.1058 7.01074L8.99999 13.1261L12.8942 7.01074Z' fill='white'/%3E%3C/svg%3E%0A");
}
.header .tnb .lang {
    position: relative;
}
.header .tnb .lang .list {
    display: none; /* 클릭시*/
    position: absolute;
    left: 0;
    bottom: -80px;
    width: 80px;
    font-size: 13px;
    padding: 10px 0;
    text-align: center;
    background-color: rgba(255,255,255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 0 0 10px 10px;
}
.header .tnb .lang .list li a {
    display: block;
    margin-bottom: 5px;
} 
.header .tnb .lang .list li:last-child a {
    margin-bottom: 0;
}
.header .tnb .lang .list li.on a, 
.header .tnb .lang .list li a:hover {
    color: #273D88;
}